[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-community = "*"
langchain-openai = "*"
twilio = "*"
jq = "*"
faiss-cpu = "*"
flask = "*"
pyngrok = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.13"
